<form class="ui stacked segment form" action="/category/{{category.id}}/addlink" action="/dashboard/uploadpicture" method="POST" enctype="multipart/form-data">
  <div class="three fields">
    <div class="field">
      <label>URL</label>
      <input placeholder="URL" type="text" name="url">
    </div>
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    <div class="field">
      <label>ID</label>
      <input placeholder="ID" type="text" name="id">
    </div>
         <div class="field">
            <label>Picture</label>
            <input type="file" name="picture">  </input>
        </div>
  </div>
  <button class="ui blue submit button">Add Link</button>
</form>