<form class="ui  segment form" action="/addmessage" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input type="text" placeholder="First Name" name="name">
    </div>
  <div class="field">
  <label>Add Message...</label>
  <textarea type="text" name="message"> </textarea>
  <button class="ui blue submit button">Send</button>
  </div>
</form>