<nav class="ui menu">
  <header class="ui header item"> <a href="/start"><i class="home orange icon"></i></a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"><i class="bookmark icon"></i>Bookmarks</a>
    <a id="about" class="item" href="/about"><i class="help icon"></i> About </a>
    <a id="logout" class="item" href="/login"><i class="sign out icon"></i> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>