<nav class="ui inverted orange menu">
  <header class="ui header item"> <a href="/"> Welcome </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"><i class="add user icon"></i> Signup  </a>
    <a id="login" class="item" href="/login"> <i class="sign in icon"></i> Login   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>