{{> menu id="about"}}


<section class="ui center aligned piled blue segment">
  <h1>
    About the Author:
  </h2>
  <div class="ui very padded segment">
  <div class="ui blue big message">
  <p>
    Mary O'Neill is an Irish app developer. Mary designed this app for computer science students, 
    to give them short cuts to study languages for developing.<br>
    Many students use her app and find it very resourceful. The students can also help
    each other out by adding new resources.<br>
    Mary O'Neill's apps are very successful and every student should check them out!
  </p>
  </div>
  </div>

<section class="ui center aligned middle aligned orange segment">
  <h2>
    Contact Details:
  </h2>
  
  <div class="ui orange large message">
  <p>
    083-12345678<br />
    051-354321
  </p>
  </div>
</section>

<section class="ui center aligned middle aligned green segment">
  <h2>
    Address
  </h2>
  
  <div class="ui green large message">
  <p>
    Waterford Institution of Technology,<br>
    Waterford,<br>
    Ireland<br>
  </div>
    <img src="https://cdn.gomix.com/020c5fea-cf13-4f77-bb7d-221c5010d7c7%2FCapture.jpg">
  </p>
</section>

<section class="ui raised two column grid segment">
  <section class="column">
    {{> addmessage }}
  </section>
  <section class="column">
    {{> listmessages }}
  </section>
</section>