{{> menu}}

<section class="ui center aligned middle aligned yellow segment">
  <h1 class="ui olive header">
    Welcome to your Bookmarks
  </h1>
  <div class="ui big green message">
  <p>
    This app is designed to let you add/delete and store your bookmarks from your favourite web sites.<br>
    Just use the 'Bookmarks' button in the top right to get started.
  </p>
  </div>

<a class="ui center aligned medium image" href="/dashboard">
  <img src="https://cdn.gomix.com/020c5fea-cf13-4f77-bb7d-221c5010d7c7%2Fgomix.jpg">
</a>
</section>